/* || RESET */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

img, video {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    border: none;
    font: inherit;
    background-color: initial;
}

p, label, legend, h1, h2, h3 {
    overflow-wrap: break-word;
}

p, label, legend {
    text-wrap: pretty;
    line-height: 1.5;
}

h1, h2, h3 {
    text-wrap: balance;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

/* || UTILITIES */

.u-flex-row {
    display: flex;
    flex-direction: row;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
}

.u-align-start {
    align-self: flex-start;
}

.u-sr-only {
    position: fixed;
    right: 100%; bottom: 100%;
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    overflow: hidden;
}